.integralorder {
  width: 100%;
  padding: 1px 0.347rem;
  box-sizing: border-box;
  .integralorder-top {
    width: 100%;
    height: 2rem;
    background-color: #ffffff;
    border-radius: 0.267rem;
    display: flex;
    align-items: center;
    margin: 0.267rem 0px;
    .top-con {
      display: flex;
      justify-content: space-between;
      padding: 0 0.267rem;
      box-sizing: border-box;
      width: 100%;
      .top-con-left {
        width: 6.3rem;
        height: 0.347rem;
        font-family: MicrosoftYaHei;
        font-size: 0.347rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.347rem;
        letter-spacing: 0.021rem;
        color: #666666;
      }
      .top-con-right {
        width: 0.147rem;
        height: 0.28rem;
      }
    }
  }
  .integralorder-topnew {
    width: 9.307rem;
    height: 2.667rem;
    background-color: #ffffff;
    border-radius: 0.267rem;
    display: flex;
    align-items: center;
    margin: 0.267rem 0px;
    padding: 0px 0.267rem;
    box-sizing: border-box;
    .top-con-left {
      width: 0.48rem;
      height: 0.693rem;
      margin: 0px 0.44rem 0px 0.266rem;
    }
    .top-con-center {
      width: 6.493rem;
      .top-con-center-top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.2rem;
        .top-con-center-top-name {
          height: 0.347rem;
          font-family: MicrosoftYaHei;
          font-size: 0.347rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.347rem;
          letter-spacing: 0.021rem;
          color: #333333;
        }
        .top-con-center-top-tel {
          height: 0.24rem;
          font-family: MicrosoftYaHei;
          font-size: 0.293rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.24rem;
          letter-spacing: 0rem;
          color: #999999;
          margin-left: 0.173rem;
        }
      }
      .top-con-center-bottom {
        height: 0.8rem;
        font-family: MicrosoftYaHei;
        font-size: 0.293rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.431rem;
        letter-spacing: 0.017rem;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
    .topnew-con-right {
      width: 0.147rem;
      height: 0.28rem;
      margin-left: 0.947rem;
    }
  }
  .integralorder-center {
    width: 9.307rem;
    height: 2.68rem;
    background-color: #ffffff;
    border-radius: 0.267rem;
    display: flex;
    align-items: center;
    margin: 0.267rem 0px;
    padding: 0 0.267rem;
    box-sizing: border-box;
    .center-left {
      width: inherit;
      height: 2.133rem;
      border-radius: 0.133rem;
      margin-right: 0.253rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .center-right {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .center-right-top {
        width: 6.2rem;
        height: 0.36rem;
        font-family: MicrosoftYaHei;
        font-size: 0.347rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.36rem;
        letter-spacing: 0.021rem;
        color: #333333;
        margin-bottom: 0.12rem;
      }
      .center-right-center {
        width: 6.213rem;
        height: 0.793rem;
        font-family: MicrosoftYaHei;
        font-size: 0.293rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.404rem;
        letter-spacing: 0.017rem;
        color: #999999;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 0.25rem;
      }
      .center-right-bottom {
        width: 6.5rem;
        height: 0.32rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .center-right-bottom-left {
          height: 0.32rem;
          font-family: MicrosoftYaHei;
          font-size: 0.32rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.32rem;
          letter-spacing: 0.019rem;
          color: #ff620e;
        }
        .center-right-bottom-right {
          height: 0.253rem;
          font-family: MicrosoftYaHei;
          font-size: 0.32rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.253rem;
          letter-spacing: 0.019rem;
          color: #999999;
        }
      }
    }
  }
  .integralorder-center2 {
    width: 9.307rem;
    height: 3.613rem;
    background-color: #ffffff;
    border-radius: 0.267rem;
    margin: 0.267rem 0px;
    padding: 0 0.267rem;
    box-sizing: border-box;
    .center2-top {
      width: 100%;
      height: 1.213rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .center2-top-left {
        height: 0.347rem;
        font-family: MicrosoftYaHei;
        font-size: 0.347rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.347rem;
        letter-spacing: 0.021rem;
        color: #333333;
      }
      .center2-top-right {
        height: 0.347rem;
        font-family: MicrosoftYaHei;
        font-size: 0.347rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.347rem;
        letter-spacing: 0.021rem;
        color: #666666;
      }
    }
    .center2-center {
      width: 100%;
      height: 1.23rem;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      display: flex;
      align-items: center;
      .center2-center-left {
        height: 0.36rem;
        font-family: MicrosoftYaHei;
        font-size: 0.347rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.36rem;
        letter-spacing: 0.021rem;
        color: #333333;
        margin-right: 0.5rem;
        border: 0px;
      }
      .center2-center-right {
        width: 6.5rem;
        height: 0.5rem;
        line-height: 0.5rem;
      }
    }
    .center2-bottom {
      width: 100%;
      height: 1.2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .center2-bottom-left {
        height: 0.333rem;
        font-family: MicrosoftYaHei;
        font-size: 0.32rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.333rem;
        letter-spacing: 0.019rem;
        color: #999999;
      }
      .center2-bottom-right {
        font-family: MicrosoftYaHei;
        font-size: 0.32rem;
        font-weight: normal;
        letter-spacing: 0.019rem;
        color: #666666;
        line-height: 0.32rem;
        display: flex;
        div {
          font-family: MicrosoftYaHei;
          font-size: 0.32rem;
          font-weight: normal;
          letter-spacing: 0.019rem;
          color: #ff620e;
          line-height: 0.32rem;
        }
      }
    }
  }
  .payorder {
    width: 10rem;
    height: 1.467rem;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.267rem;
    box-sizing: border-box;
    .payorder-left {
      height: 0.427rem;
      display: flex;
      .payorder-left-left {
        // height: 0.427rem;
        font-family: MicrosoftYaHei;
        font-size: 0.32rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.427rem;
        letter-spacing: 0.019rem;
        color: #333333;
      }
      .payorder-left-right {
        font-family: MicrosoftYaHei-Bold;
        font-size: 0.427rem;
        font-weight: normal;
        letter-spacing: 0.025rem;
        color: #ff620e;
        line-height: 0.427rem;
      }
    }
    .payorder-right {
      width: 3.187rem;
      height: 1.067rem;
      background-color: #ff620e;
      border-radius: 0.133rem;
      text-align: center;
      line-height: 1.067rem;
      font-family: MicrosoftYaHei;
      font-size: 0.373rem;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0.023rem;
      color: #ffffff;
    }
  }
}
