.noticedetails {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    padding-top: 1px;

    .top {
        width: 100%;
        height: 1.333rem;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.347rem;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 99;
        background: #fff;

        .topcontent {
            width: 9.293rem;
            height: 0.8rem;
            background-color: #f3f3f3;
            border-radius: 0.393rem;
            display: flex;
            align-items: center;

            img {
                width: 0.4rem;
                height: 0.4rem;
                margin: 0.2rem 0.24rem 0.2rem 0.28rem;
            }

            .topinput {
                width: 9.293rem;
                height: 0.8rem;
                background: none;
                outline: none;
                border: none;
                line-height: 1.5em;
            }
        }

        .over {
            height: 0.347rem;
            font-family: MicrosoftYaHei;
            font-size: 0.347rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.347rem;
            letter-spacing: 0.021rem;
            color: #2dba55;
        }
    }

    //   列表
    .list {
        width: 100%;
        padding: 0px 0.347rem;
        box-sizing: border-box;
        margin-top: 1.333rem;

        .item {
            width: 100%;
            height: 3.747rem;
            border-bottom: 1px solid #e7e7e7;
            display: flex;
            align-items: center;

            .left {
                width: 3.52rem;
                height: 2.667rem;
                border-radius: 0.133rem;
                overflow: hidden;
                position: relative;
                margin-right: 0.267rem;

                .lefttop {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 2rem;
                    height: 0.653rem;
                    background-color: rgba($color: #2DBA55, $alpha: 0.9);
                    border-radius: 0rem 0rem 0.267rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.267rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.653rem;
                    letter-spacing: 0.005rem;
                    color: #ffffff;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0px 0.05rem;
                    box-sizing: border-box;

                    .shu {
                        height: 0.3rem;
                        width: 1px;
                        background: #fff;

                    }
                }

                img {
                    width: 3.52rem;
                    height: 2.67rem;
                    border-radius: 0.267rem;
                }
            }

            .right {
                width: 5.533rem;
                height: 3.747rem;

                .title {
                    height: 1rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.533rem;
                    letter-spacing: 0.023rem;
                    color: #333333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin: 0.5rem auto 0.2rem;
                }

                .word {
                    //height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    // line-height: 0.32rem;
                    letter-spacing: 0.019rem;
                    color: #999999;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    margin: 0.1rem auto 0.2rem;
                }

                .integral {
                    // width: 1.6rem;
                    // height: 0.293rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.293rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.293rem;
                    letter-spacing: 0.005rem;
                    color: #cacaca;
                    margin: 0.2rem auto 0.25rem;
                }

                .money {
                    height: 0.36rem;
                    //   padding: 0px 0.2rem;
                    box-sizing: border-box;
                    margin-top: 0.3rem;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    div {
                        display: inline-block;
                    }

                    .money-left {
                        .moneysp1 {
                            height: 0.253rem;
                            font-family: MicrosoftYaHei;
                            font-size: 0.32rem;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 0.253rem;
                            letter-spacing: 0.007rem;
                            color: #ff620e;
                            margin-right: 0.08rem;
                        }

                        .moneysp2 {
                            height: 0.36rem;
                            font-family: MicrosoftYaHei-Bold;
                            font-size: 0.453rem;
                            font-weight: bold;
                            font-stretch: normal;
                            line-height: 0.36rem;
                            letter-spacing: 0.009rem;
                            color: #ff620e;
                            margin-right: 0.133rem;
                        }

                        .moneysp3 {
                            height: 0.32rem;
                            font-family: MicrosoftYaHei;
                            font-size: 0.32rem;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 0.32rem;
                            letter-spacing: 0.007rem;
                            color: #999999;
                        }
                    }

                    .money-right {
                        .commission {
                            float: right;
                            height: 0.293rem;
                            font-family: MicrosoftYaHei;
                            font-size: 0.293rem;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 0.293rem;
                            letter-spacing: 0.005rem;
                            color: #cacaca;
                        }
                    }
                }
            }
        }
    }
}

.noline {
    width: 100%;
    height: 100%;

    div {
        width: 4.97rem;
        height: 4.24rem;
        margin: 2.71rem auto;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.all {
    width: 100%;
    height: 1.267rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0px;

    .and {
        height: 0.333rem;
        font-family: MicrosoftYaHei;
        font-size: 0.347rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.333rem;
        letter-spacing: 0.007rem;
        color: #999999;
    }

    img {
        width: 0.333rem;
        height: 0.32rem;
        margin-left: 0.147rem;
    }
}