.releasetravels {
  width: 100%;
  .banners {
    width: 100%;
    height: 5.333rem;
    position: relative;
    background: #cacaca;
    .replacecover {
      width: 2.2rem;
      height: 0.64rem;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0.32rem;
      font-family: MicrosoftYaHei;
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.64rem;
      letter-spacing: 0.019rem;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: 4.027rem;
      right: 0.327rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .banners-con {
      display: flex;
      flex-wrap: wrap;
      //   align-items: center;
      width: 100%;
      height: 100%;
      .banners-con-top {
        width: 100%;
        height: 0.56rem;
        font-family: MicrosoftYaHei;
        font-size: 1.06rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.56rem;
        letter-spacing: 0.023rem;
        color: #ffffff;
        text-align: center;
        margin-top: 1.693rem;
        margin-bottom: -1.5rem;
      }
      .banners-con-bottom {
        width: 100%;
        height: 0.373rem;
        font-family: MicrosoftYaHei;
        font-size: 0.373rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.373rem;
        letter-spacing: 0.023rem;
        color: #ffffff;
        text-align: center;
      }
    }
  }
  .content {
    width: 10rem;
    height: 9.547rem;
    background: rgb(243, 243, 243);
    border-radius: 0.267rem 0.267rem 0rem 0rem;
    margin-top: -0.2rem;
    position: relative;
    z-index: 99;
    .content-top {
      width: 100;
      height: 1.413rem;
      padding: 0 0.347rem;
      box-sizing: border-box;
      background: #fff;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0.267rem 0.267rem 0rem 0rem;
      .content-top-input {
        border: 0;
        outline-style: none;
        width: 100%;
        height: 100%;
      }
    }
    .content-bottom {
      width: 100%;
      height: 8.12rem;
      padding: 0 0.347rem;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid;
    }
    .content-ok {
      width: 10rem;
      height: 1.2rem;
      padding: 0 0.347rem;
      box-sizing: border-box;
      background-color: #ffffff;
      position: fixed;
      bottom: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .content-ok-left {
        width: 0.56rem;
        height: 0.48rem;
      }
      .content-ok-right {
        height: 0.453rem;
        font-family: MicrosoftYaHei;
        font-size: 0.373rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.453rem;
        letter-spacing: 0.023rem;
        color: #2dba55;
        display: flex;
        align-items: center;

        img {
          width: 0.453rem;
          height: 0.453rem;
          margin-right: 0.22rem;
        }
      }
    }
  }

  div.ql-container.ql-snow {
    height: px2rem(100);
  }

  div.ql-editor.ql-blank {
    height: px2rem(50);
  }

  // 弹框
  .popup-ok {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100vh;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .popup-ok-con {
      width: 8rem;
      height: 5.827rem;
      background-color: #ffffff;
      border-radius: 0.133rem;
      .popupicon {
        width: 2.16rem;
        // width: 100%;
        height: 1.15rem;
        margin: 0.57rem auto 0;
        .popupicon-img {
          width: 2.16rem;
          height: 100%;
        }
      }
      .popup-ok-con-center {
        height: 0.4rem;
        font-family: MicrosoftYaHei;
        font-size: 0.4rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.4rem;
        letter-spacing: 0.024rem;
        color: #2dba55;
        margin-top: 0.547rem;
        text-align: center;
      }
      .popup-ok-con-bottom {
        height: 0.32rem;
        font-family: MicrosoftYaHei;
        font-size: 0.32rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.32rem;
        letter-spacing: 0.019rem;
        color: #666666;
        text-align: center;
        margin-top: 0.427rem;
      }
      .popup-ok-con-btn {
        width: 3.187rem;
        height: 1.067rem;
        background-color: #ff620e;
        border-radius: 0.133rem;
        font-family: MicrosoftYaHei;
        font-size: 0.373rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1.067rem;
        letter-spacing: 0.023rem;
        color: #ffffff;
        text-align: center;
        margin: 0.693rem auto 0;
      }
    }
  }
}
