.orderdetails {
    width: 100%;
    min-height: 100vh;
    background: rgb(243, 243, 243);

    .top {
        width: 10rem;
        height: 2.267rem;
        background: url("../../../assets/img/order/orderbg.png") no-repeat;
        background-size: 100% 100%;
        padding: 1px;
        box-sizing: border-box;

        .top-title {
            height: 0.347rem;
            font-family: MicrosoftYaHei;
            font-size: 0.347rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.347rem;
            letter-spacing: 0.021rem;
            color: #ffffff;
            margin: 0.8rem 0px 0px 0.933rem;
        }
    }

    .content-top {
        width: 9.307rem;
        height: 5.347rem;
        background: #fff;
        border-radius: 0.267rem;
        margin: -0.507rem auto 0px;
        padding: 0px 0.267rem 0px 0.4rem;
        box-sizing: border-box;

        .item-top {
            width: 100%;
            height: 1.067rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item-top-left {
                height: 0.347rem;
                font-family: MicrosoftYaHei;
                font-size: 0.347rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.347rem;
                letter-spacing: 0rem;
                color: #666666;
            }

            .item-top-right0 {
                height: 0.347rem;
                font-family: MicrosoftYaHei;
                font-size: 0.347rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.347rem;
                letter-spacing: 0.021rem;
                color: #ff620e;
            }

            .item-top-right1 {
                height: 0.347rem;
                font-family: MicrosoftYaHei;
                font-size: 0.347rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.347rem;
                letter-spacing: 0.021rem;
                color: #2dba55;
            }
        }

        .item-center {
            height: 2.92rem;
            width: 100%;
            padding: 0.4rem 0px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;

            .item-center-left {
                width: 2.133rem;
                height: 2.133rem;
                border-radius: 0.133rem;
                margin-right: 0.253rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .item-center-right {
                .title {
                    width: 6.253rem;
                    //height: 0.36rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.347rem;
                    font-weight: normal;
                    font-stretch: normal;
                    //line-height: 0.36rem;
                    letter-spacing: 0.021rem;
                    color: #333333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1; //超出几行才会变点
                    margin: 0.12rem 0px 0.187rem;
                }

                .date {
                    height: 0.293rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.293rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.293rem;
                    letter-spacing: 0.017rem;
                    color: #999999;
                }

                .num {
                    height: 0.293rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.293rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.293rem;
                    letter-spacing: 0.017rem;
                    color: #999999;
                    margin: 0.173rem 0px 0.293rem;
                }

                .money {
                    height: 0.28rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.347rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.28rem;
                    letter-spacing: 0.021rem;
                    color: #ff620e;
                }
            }
        }

        .item-bottom {
            width: 100%;
            height: 1.333rem;
            display: flex;
            justify-content: flex-end;

            align-items: center;

            .item-bottom-left {
                height: 0.32rem;
                display: flex;

                .lefta {
                    height: 0.347rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.347rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.347rem;
                    letter-spacing: 0.021rem;
                    color: #666666;
                }

                .leftb {
                    height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.4rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.32rem;
                    letter-spacing: 0.024rem;
                    color: #ff620e;
                }
            }
        }
    }

    .content-bottom {
        width: 9.307rem;
        height: 3.56rem;
        background-color: #ffffff;
        border-radius: 0.267rem;
        margin: 0.267rem auto;
        padding: 0.593rem 0.267rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;


        .list {
            width: 100%;
            height: 0.32rem;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .list-left {
                height: 0.32rem;
                font-family: MicrosoftYaHei;
                font-size: 0.32rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.32rem;
                letter-spacing: 0.019rem;
                color: #333333;
            }

            .list-right {
                height: 0.267rem;
                font-family: MicrosoftYaHei;
                font-size: 0.32rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.267rem;
                letter-spacing: 0rem;
                color: #666666;
            }
        }
    }

    .content-evaluate {
        width: 9.307rem;
        // height: 4.56rem;
        background-color: #ffffff;
        border-radius: 0.267rem;
        padding: 0.4rem 0.453rem;
        box-sizing: border-box;
        margin: 0.267rem auto 1.707rem;

        .content-evaluate-top {
            height: 0.373rem;
            font-family: MicrosoftYaHei;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.373rem;
            letter-spacing: 0.023rem;
            color: #333333;
        }

        .evaluate-list1 {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;

            .evaluate-left {
                height: 0.387rem;
                font-family: MicrosoftYaHei;
                font-size: 0.373rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.387rem;
                letter-spacing: 0.023rem;
                color: #333333;
                margin-right: 0.6rem;
            }
        }

        .evaluate-list3 {
            width: 100%;
            margin-top: 0.5rem;
            font-family: MicrosoftYaHei;
            font-size: 0.32rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.557rem;
            letter-spacing: 0.019rem;
            color: #999999;
        }

    }

    .bottom-btn {
        width: 10rem;
        height: 1.307rem;
        background-color: #ffffff;
        position: fixed;
        left: 0px;
        bottom: 0px;
        display: flex;

        .centerbtn {
            width: 10rem;
            height: 1.307rem;
            background-color: #2dba55;
            text-align: center;
            font-family: MicrosoftYaHei;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 1.307rem;
            letter-spacing: 0.023rem;
            color: #ffffff;
        }
        .cancelbtn{
            width: 10rem;
            height: 100%;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 1.307rem;
            letter-spacing: 0.023rem;
            color: #999999;
            text-align: center;
        }

        .left-btn {
            width: 4rem;
            height: 100%;
            font-family: MicrosoftYaHei;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 1.307rem;
            letter-spacing: 0.023rem;
            color: #999999;
            text-align: center;
        }

        .right-btn {
            width: 6rem;
            height: 1.307rem;
            background-color: #2dba55;
            font-family: MicrosoftYaHei;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 1.307rem;
            letter-spacing: 0.023rem;
            color: #ffffff;
            text-align: center;
            border-radius: 0;
        }
    }

    // 取消订单弹框
    .nopay {
        width: 100%;
        height: 100vh;
        background: rgba($color: #000000, $alpha: 0.5);
        position: fixed;
        top: 100vh;
        left: 0px;
        z-index: 2;
        display: flex;
        align-items: flex-end;

        //支付取消订单内容
        .nopaycontent {
            width: 10rem;
            height: 6.56rem;
            background-color: #ffffff;
            border-radius: 0.267rem 0.267rem 0rem 0rem;
            padding: 0px 0.347rem;
            box-sizing: border-box;

            .nopay-top {
                width: 100%;
                height: 1.333rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nopay-top-left {
                    height: 0.373rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.373rem;
                    letter-spacing: 0.023rem;
                    color: #999999;
                }

                .nopay-top-center {
                    height: 0.373rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.373rem;
                    letter-spacing: 0.023rem;
                    color: #333333;
                }

                .nopay-top-right {
                    height: 0.373rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.373rem;
                    letter-spacing: 0.023rem;
                    color: #2dba55;
                }
            }

            .nopay-list {
                width: 100%;
                height: 1.333rem;
                border-top: 1px solid #e7e7e7;
                font-family: MicrosoftYaHei;
                font-size: 0.347rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.333rem;
                letter-spacing: 0.021rem;
                color: #999999;
                text-align: center;
            }

            .nopay-listactive {
                width: 100%;
                height: 1.333rem;
                border-top: 1px solid #e7e7e7;
                font-family: MicrosoftYaHei;
                font-size: 0.347rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.333rem;
                letter-spacing: 0.021rem;
                color: #333333;
                text-align: center;
            }
        }

        // 评论
        .evaluate {
            width: 10rem;
            height: 9.16rem;
            background-color: #ffffff;
            border-radius: 0.267rem 0.267rem 0rem 0rem;
            padding: 0px 0.347rem;
            box-sizing: border-box;
            position: relative;

            .evaluate-top {
                width: 100%;
                height: 1.333rem;
                font-family: MicrosoftYaHei;
                font-size: 0.373rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.333rem;
                letter-spacing: 0.023rem;
                color: #333333;
                text-align: center;
                border-bottom: 1px solid #e7e7e7;

            }

            .evaluate-cneter {
                .evaluate-list1 {
                    display: flex;
                    align-items: center;
                    margin-top: 0.5rem;

                    .evaluate-left {
                        height: 0.387rem;
                        font-family: MicrosoftYaHei;
                        font-size: 0.373rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.387rem;
                        letter-spacing: 0.023rem;
                        color: #333333;
                        margin-right: 0.6rem;
                    }
                }

                .evaluate-list3 {
                    width: 9.28rem;
                    height: 3.507rem;
                    border-radius: 0.133rem;
                    border: solid 1px #cacaca;
                    margin-top: 0.5rem;
                    padding: 0.2rem;
                    box-sizing: border-box;

                    textarea {
                        width: 100%;
                        height: 100%;
                        border: 0px;

                    }
                }

            }

            .evaluate-bottom {
                position: absolute;
                left: 0px;
                bottom: 0px;
                height: 1.307rem;
                width: 100%;
                display: flex;
                align-items: center;

                .evaluate-btn-left {
                    width: 5rem;
                    height: 1.307rem;
                    background-color: #cacaca;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 1.307rem;
                    letter-spacing: 0.023rem;
                    color: #ffffff;
                    text-align: center;
                }

                .evaluate-btn-right {
                    width: 5rem;
                    height: 1.307rem;
                    background-color: #2dba55;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 1.307rem;
                    letter-spacing: 0.023rem;
                    color: #ffffff;
                    text-align: center;
                }
            }
        }
    }
    // 弹框
    .popup {
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            width: 8rem;
            height: 4.667rem;
            background-color: #ffffff;
            border-radius: 0.133rem;

            .con-word {
                width: 100%;
                height: 3.32rem;
                font-family: MicrosoftYaHei;
                font-size: 0.427rem;
                font-weight: normal;
                font-stretch: normal;
                //line-height: 3.32rem;
                //letter-spacing: 0.021rem;
                color: #666;
                text-align: center;
                //margin-top: 1rem;
                padding: 1rem 0.5rem 0 0.5rem;
            }

            .con-bottom {
                width: 100%;
                height: 1.347rem;
                border-top: 1px solid #e7e7e7;
                display: flex;
                font-family: MicrosoftYaHei;
                font-size: 0.373rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 1.347rem;
                letter-spacing: 0.019rem;
                color: #666666;
                text-align: center;

                .nook {
                    width: 50%;
                    height: 100%;
                    border-right: 1px solid #f3f3f3;
                    color: #666666;
                }

                .isok {
                    width: 50%;
                    height: 100%;
                    color: #2dba55;
                }
            }
        }
    }
}
