.modifynikename {
    width: 100%;
    min-height: 100vh;
    background: rgb(243, 243, 243);


    .top {
        width: 10rem;
        height: 1.333rem;
        background-color: #ffffff;
        padding: 0px 0.347rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0.347rem;
        box-sizing: border-box;

        .top-left {
            height: 0.373rem;
            font-family: MicrosoftYaHei;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.373rem;
            letter-spacing: 0.023rem;
            color: #333333;
            margin-right: 0.76rem;
        }

        .top-right {
            input {
                width: 7.32rem;
                height: 100%;
            }

            img {
                width: 0.4rem;
                height: 0.4rem;
            }
        }
    }

    .ok {
        width: 9.293rem;
        height: 1.2rem;
        background-color: #2dba55;
        border-radius: 0.133rem;
        margin: 0.52rem auto;
        font-family: MicrosoftYaHei;
        font-size: 0.4rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1.2rem;
        letter-spacing: 0.024rem;
        color: #ffffff;
        text-align: center;
    }
}