.city {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background: rgb(243, 243, 243);

    .defaultcity {
        width: 100%;
        padding: 0.55rem 0.35rem 0.35rem;
        box-sizing: border-box;
        background: #fff;

        .defaultcity-title {
            height: 0.29rem;
            font-size: 0.29rem;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 0.29rem;
        }

        .defaultcity-item {
            width: 2.84rem;
            height: 0.8rem;
            border-radius: 0.067rem;
            border: solid 1px #08c75e;
            font-size: 0.29rem;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(45, 186, 85, 1);
            line-height: 0.8rem;
            text-align: center;
            margin-top: 0.307rem;

        }
    }

    .cityHistory {
        width: 100%;
        padding: 0rem 0.35rem;
        box-sizing: border-box;
        background: #fff;

        .cityHistory-title {
            // height: 0.29rem;
            font-size: 0.29rem;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 0.29rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cityHistory-del {
                width: 0.35rem;
            }
        }

        .cityHistory-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .cityHistory-item {
                height: 0.8rem;
                margin: 0.2rem 0.2rem 0.2rem 0rem;
                border-radius: 0.067rem;
                border: solid 1px #08c75e;
                font-size: 0.29rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: rgba(45, 186, 85, 1);
                line-height: 0.8rem;
                text-align: center;
                padding: 0rem 0.2rem;

            }
        }
    }

    .hotcity {
        width: 100%;
        padding: 0rem 0.35rem;
        box-sizing: border-box;
        background: #fff;

        .hotcity-title {
            // height: 0.29rem;
            font-size: 0.29rem;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            line-height: 0.29rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hotcity-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .hotcity-item {
                width: 2rem;
                height: 0.8rem;
                margin: 0.2rem 0.2rem 0.2rem 0rem;
                border-radius: 0.067rem;
                border: solid 1px #08c75e;
                font-size: 0.29rem;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: rgba(45, 186, 85, 1);
                line-height: 0.8rem;
                text-align: center;
                padding: 0rem 0.2rem;

            }
        }
    }

    .citylist {
        width: 100%;


        .title {
            width: 100%;
            height: 0.68rem;
            padding: 0px 0.373rem;
            box-sizing: border-box;
            font-family: MicrosoftYaHei;
            font-size: 0.293rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.68rem;
            letter-spacing: 0.017rem;
            color: #999999;
        }

        .list-item:last-child {
            border: 0px;
        }

        .list-item {
            width: 10rem;
            height: 1.2rem;
            background: #ffffff;
            padding: 0px 0.36rem;
            box-sizing: border-box;
            border-bottom: 1px solid #e7e7e7;
            font-family: MicrosoftYaHei;
            font-size: 0.293rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 1.2rem;
            letter-spacing: 0.017rem;
            color: #333333;



        }

    }

    .rightlist {
        width: 0.28rem;
        position: fixed;
        top: 3.71rem;
        right: 0.19rem;
        text-align: center;
        color: #2DBA55;
    }

    .alist {
        margin-bottom: 0.05rem;
    }

}