.my {
    width: 10rem;
    height: 100vh;
    background: rgb(243, 243, 243);

    // 头部信息
    .mytop {
        width: 10rem;
        height: 4.04rem;
        background: url('../../../assets/img/my/mybg.png') no-repeat;
        background-size: 100% 100%;
        padding: 1px 0.347rem;
        box-sizing: border-box;

        .mytop-top {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0.267rem;
            margin-bottom: 0.307rem;

            img {
                width: 0.36rem;
                height: 0.36rem;
                margin-right: 0.16rem;
            }

            div {
                height: 0.36rem;
                font-family: MicrosoftYaHei;
                font-size: 0.36rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.36rem;
                letter-spacing: 0rem;
                color: #ffffff;
            }
        }

        .mytop-bottom {
            display: flex;
            align-items: center;
            width: 100%;
            height: 1.467rem;

            .mytop-bottom-left {
                width: 1.467rem;
                height: 1.467rem;
                border-radius: 50%;
                margin-right: 0.293rem;
            }

            .mytop-bottom-right {
                // display: flex;
                // flex-wrap: wrap;
                // align-items: center;
                width: 7.5rem;

                .mytop-bottom-right-top {
                    // width: 100%;
                    //height: 0.4rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.4rem;
                    font-weight: normal;
                    font-stretch: normal;
                    //line-height: 0.4rem;
                    letter-spacing: 0.024rem;
                    color: #ffffff;
                    margin-bottom: 0.247rem;
                }

                .mytop-bottom-right-bottom {
                    display: flex;
                    align-items: center;
                    //height: 0.347rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.347rem;
                    font-weight: normal;
                    font-stretch: normal;
                    //line-height: 0.347rem;
                    letter-spacing: 0rem;
                    color: #ffffff;

                    .gender {
                        margin-right: 0.56rem;
                    }
                }
            }

            .mytop-bottom-r {
                width: 7.5rem;
                margin-top: 0.5rem;
                position: relative;

                .mytop-bottom-r-top {
                    width: 4.5rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.4rem;
                    font-weight: normal;
                    font-stretch: normal;
                    //line-height: 0.4rem;
                    letter-spacing: 0.024rem;
                    color: #ffffff;
                    margin-bottom: 0.147rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .mytop-bottom-r-bottom {
                    font-size: 0.29rem;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    line-height: 0.56rem;
                    opacity: 0.7;

                    .gender {
                        margin-right: 0.56rem;
                    }
                }

                .balance {
                    height: 0.867rem;
                    line-height: 0.867rem;
                    background-color: #45ca79;
                    border-radius: 0.433rem 0 0 0.433rem;
                    position: absolute;
                    right: -0.4rem;
                    top: 0;
                    padding: 0 0.3rem;
                    font-size: 0.27rem;
                    color: rgba(255, 255, 255, 1);
                    max-width: 3.3rem;

                    span {
                        font-size: 0.32rem;
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }

    // 内容区
    .mycontent {
        margin-top: -0.627rem;
        padding: 0px 0.347rem;
        box-sizing: border-box;

        // 钱
        .money {
            width: 9.307rem;
            height: 1.733rem;
            background: #fff;
            border-radius: 0.133rem;
            border: solid 0.013rem #e7e7e7;
            display: flex;
            align-items: center;
            margin-bottom: 0.28em;

            .money-left {
                width: 50%;
                height: 100%;
                text-align: center;

                .money-left-top {
                    height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.4rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.32rem;
                    letter-spacing: 0rem;
                    color: #333333;
                    margin: 0.427rem 0px 0.28rem;
                }

                .money-left-bottom {
                    height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.32rem;
                    letter-spacing: 0rem;
                    color: #999999;
                }
            }

            .shu {
                width: 1px;
                height: 0.88rem;
                background-color: #e7e7e7;
            }
        }

        // 四图
        .myitem {
            width: 9.307rem;
            height: 2.133rem;
            background: #fff;
            border-radius: 0.133rem;
            border: solid 0.013rem #e7e7e7;
            padding: 0px 0.533rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.28rem;
            // align-items: center;

            .myitem-item {
                width: 1.28rem;
                text-align: center;

                img {
                    width: 0.533rem;
                    height: 0.493rem;
                    margin: 0.48rem 0px 0.387rem;
                }

                .integralimg {
                    width: 0.57rem;
                    height: 0.56rem;
                    margin: 0.44rem 0rem 0.36rem 0rem;
                }

                .myitem-item-title {
                    height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.32rem;
                    letter-spacing: 0rem;
                    color: #333333;
                }
            }
        }

        // 列表
        .mylist {
            width: 100%;
            padding: 0px 0.28rem;
            box-sizing: border-box;
            margin-bottom: 0.28rem;
            background: #fff;

            .mylist-list:last-child {
                border-bottom: 0px;
            }

            .mylist-list-down {
                position: relative;

                .release-item {
                    width: 100%;
                    height: 1.333rem;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }

                .copy_textarea {
                    position: fixed;
                    top: -100vh;
                    left: 0px;
                }
            }

            .mylist-list {
                width: 100%;
                height: 1.333rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #e7e7e7;

                .mylist-list-left {
                    display: flex;
                    align-items: center;

                    .mylist-list-img {
                        width: 0.48rem;
                        height: 0.44rem;
                        margin-right: 0.307rem;
                        text-align: center;
                        font-size: 0px;

                        .mylist-list-img-img {
                            max-width: 0.48rem;
                            max-height: 0.44rem;
                        }
                    }

                    .mylist-list-title {
                        height: 0.347rem;
                        font-family: MicrosoftYaHei;
                        font-size: 0.347rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.347rem;
                        letter-spacing: 0.021rem;
                        color: #333333;
                    }
                }

                .mylist-list-right {
                    width: 0.147rem;
                    height: 0.28rem;
                }
            }
        }

        .settledin {
            width: 9.307rem;
            height: 3.733rem;
            border-radius: 0.133rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}