.orderdetails {
    width: 100%;
    min-height: 100vh;
    background: rgb(243, 243, 243);

    .top {
        width: 10rem;
        height: 2.267rem;
        background-image: url("../../assets/img/order/orderbg.png") no-repeat;
        background-size: 100% 100%;
    }
}