.travelsdetail {
    .islike {
        width: 0.467rem;
        height: 0.413rem;
        position: absolute;
        top: 0.267rem;
        right: 0.627rem;
        z-index: 99;
    }

    //   顶部图片
    .banners {
        width: 100%;
        // height: 5.333rem;
        position: relative;

        .share {
            position: absolute;
            top: 0.267rem;
            right: 1.213rem;
            width: 0.427rem;
            height: 0.427rem;
        }

        .collection {
            position: absolute;
            top: 0.28rem;
            right: 0.347rem;
            width: 0.467rem;
            height: 0.413rem;
        }

        .banners-img {
            width: 100%;
            height: 100%;
        }
    }

    //   页面详情
    .content {
        width: 10rem;
        // min-height: 100vh;
        background: rgb(243, 243, 243);
        border-radius: 0.267rem 0.267rem 0rem 0rem;
        margin-top: -0.2rem;
        position: relative;
        z-index: 99;

        .content-top {
            width: 100%;
            background: #fff;
            border-radius: 0.267rem 0.267rem 0rem 0rem;
            padding: 1px 0.347rem;
            box-sizing: border-box;
            margin-bottom: 0.4rem;

            p {
                span {
                    width: 100%;
                    display: inline-block;
                    font-size: 0.370rem
                }
            }

            .content-imgs {
                position: relative;

                .content-delete {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    z-index: 10;
                    color: #ffffff;
                    font-size: 20px;
                }
            }

            .content-top-top {
                width: 100%;
                height: 2.547rem;
                padding: 1px;
                border-bottom: 1px solid #e7e7e7;

                .nikename-top {
                    height: 0.773rem;
                    margin-top: 0.533rem;
                    margin-bottom: 0.387rem;
                    display: flex;
                    align-items: center;

                    .headportrait {
                        width: 0.773rem;
                        height: 0.773rem;
                        border-radius: 50%;
                        margin-right: 0.24rem;
                    }

                    .nikename {
                        height: 0.387rem;
                        font-family: MicrosoftYaHei;
                        font-size: 0.373rem;
                        font-weight: bold;
                        font-stretch: normal;
                        line-height: 0.387rem;
                        letter-spacing: 0.023rem;
                        color: #2DBA55;
                    }
                }

                .title {
                    height: 0.387rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: bold;
                    font-stretch: normal;
                    line-height: 0.387rem;
                    letter-spacing: 0.023rem;
                    color: #333333;
                }


            }

            .word-content {
                width: 100%;

                .con-item {
                    .travels {
                        width: 100%;
                    }

                    .con-img {
                        position: relative;
                        width: 100%;

                        i {
                            position: absolute;
                            top: 0.1rem;
                            right: 0.1rem;
                            color: #fff;
                            font-size: 0.3rem !important;
                        }

                        img {
                            width: 100%;
                        }
                    }

                }
            }

            .content-top-bottom {
                padding: 0.4rem 0;
                box-sizing: border-box;
                font-family: MicrosoftYaHei;
                font-size: 0.32rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.551rem;
                letter-spacing: 0.019rem;
                color: #999999;
            }
        }

        // 热门评论
        .content-bottom {
            width: 100%;
            background: #fff;
            border-radius: 0.267rem 0.267rem 0rem 0rem;
            padding: 1px 0.347rem;
            box-sizing: border-box;

            .bottom-title {
                width: 8rem;
                height: 0.4rem;
                font-family: MicrosoftYaHei;
                font-size: 0.4rem;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0.4rem;
                letter-spacing: 0.024rem;
                color: #333333;
                margin-top: 0.387rem;
            }

            .me {
                width: 100%;
                display: flex;
                align-items: center;
                position: fixed;
                bottom: 0px;
                left: 0px;
                padding: 1px 0.347rem 0px;
                box-sizing: border-box;
                height: 1.333rem;
                background-color: #ffffff;
                box-shadow: 0rem 0.013rem 0.173rem 0rem #cacaca;

                .meheadportrait {
                    width: 0.893rem;
                    height: 0.893rem;
                    border-radius: 50%;
                    margin-right: 0.2rem;
                }

                .meinput {
                    width: 8rem;
                    height: 0.8rem;
                    background-color: #f3f3f3;
                    border-radius: 0.4rem;
                    padding-left: 0.467rem;
                    box-sizing: border-box;
                    line-height: 1.5rem;
                }

                .submission {
                    font-family: MicrosoftYaHei;
                    font-size: 0.373rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 1.333rem;
                    letter-spacing: 0.023rem;
                    color: #2dba55;
                    margin-left: 0.4rem;
                }
            }

            //   评论列表
            .commentlist {
                width: 100%;
                padding: 0.52rem 0;
                box-sizing: border-box;
                border-bottom: 1px solid #e7e7e7;

                .item-top {
                    height: 0.88rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .item-top-left {
                        height: 0.88rem;
                        display: flex;
                        align-items: center;

                        .item-headportrait {
                            width: 0.88rem;
                            height: 0.88rem;
                            border-radius: 50%;
                            margin-right: 0.2rem;
                        }

                        .item-title {
                            height: 0.347rem;
                            font-family: MicrosoftYaHei;
                            font-size: 0.347rem;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 0.347rem;
                            letter-spacing: 0.021rem;
                            color: #333333;
                        }
                    }

                    .date {
                        height: 0.267rem;
                        font-family: MicrosoftYaHei;
                        font-size: 0.32rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.267rem;
                        letter-spacing: 0.019rem;
                        color: #cacaca;
                    }
                }

                .itemword {
                    width: 8.173rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.484rem;
                    letter-spacing: 0.019rem;
                    color: #666666;
                    margin-left: 1.093rem;
                }
            }

            .end {
                width: 100%;
                height: 1.413rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5rem;

                .endword {
                    height: 0.333rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.333rem;
                    letter-spacing: 0.019rem;
                    color: #999999;
                    margin-right: 0.28rem;
                }

                .right {
                    width: 0.147rem;
                    height: 0.28rem;
                }
            }
        }
    }
}

//分享弹框
.sharepopup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100vh;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    z-index: 99999;

    .sharepopup-con {
        width: 10rem;
        height: 4.427rem;
        background-image: linear-gradient(0deg, #ffffff 100%);
        border-radius: 0.267rem 0.267rem 0rem 0rem;

        .sharepopup-con-top {
            width: 100%;
            height: 3.08rem;
            border-bottom: 1px solid #e7e7e7;
            display: flex;
            padding-left: 0.627rem;
            box-sizing: border-box;

            .sharepopup-con-left {
                text-align: center;
                margin-top: 0.613rem;
                margin-right: 0.613rem;

                img {
                    width: 1.253rem;
                    height: 1.253rem;
                }

                .sharepopup-con-left-title {
                    width: 1.407rem;
                    height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.32rem;
                    letter-spacing: 0.007rem;
                    color: #333333;
                    margin-top: 0.213rem;
                }
            }

            .sharepopup-con-right {
                text-align: center;
                margin-top: 0.613rem;
                margin-right: 0.613rem;

                img {
                    width: 1.253rem;
                    height: 1.253rem;
                }

                .sharepopup-con-left-title {
                    width: 1.713rem;
                    height: 0.32rem;
                    font-family: MicrosoftYaHei;
                    font-size: 0.32rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.32rem;
                    letter-spacing: 0.007rem;
                    color: #333333;
                    margin-top: 0.213rem;
                }
            }
        }

        .sharepopup-con-bottom {
            width: 100%;
            height: 1.333rem;
            font-family: MicrosoftYaHei;
            font-size: 0.373rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 1.333rem;
            letter-spacing: 0.008rem;
            color: #333333;
            text-align: center;
        }
    }
}