.mytravels {
    padding: 0.573rem 0.333rem 0px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background: rgb(243, 243, 243);

    .domesticlist {
        .noline {
            text-align: center;
            padding-top: 4rem;

            img {
                width: 5rem;
            }
        }
        .item {
            width: 9.307rem;
            height: 5.866rem;
            margin-bottom: 0.4rem;
            border-radius: 0.267rem;

            .domestictop {
                width: 9.307rem;
                height: 4.013rem;
                border-radius: 0.267rem 0.267rem 0rem 0rem;
                position: relative;
                font-size: 0px;
                overflow: hidden;

                .top {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 2.413rem;
                    height: 0.88rem;
                    border-radius: 0rem 0rem 0rem 0.267rem;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    font-family: MicrosoftYaHei;
                    font-size: 0.267rem;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 0.653rem;
                    letter-spacing: 0.005rem;
                    color: #ffffff;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0px 0.2rem;
                    box-sizing: border-box;

                    .del {
                        width: 0.333rem;
                        height: 0.347rem;
                    }

                    .shu {
                        width: 1px;
                        height: 0.48rem;
                        background-color: #ffffff;
                        opacity: 0.5;
                    }
                }

                img {
                    width: 9.307rem;
                    height: 100%;
                    border-radius: 0.267rem 0.267rem 0rem 0rem;
                }
            }

            .domestic-bottom {
                width: 9.307rem;
                height: 1.88rem;
                border-radius: 0rem 0rem 0.267rem 0.267rem;
                border: solid 1px #e7e7e7;
                border-top: 0;
                padding: 1px 0.213rem;
                box-sizing: border-box;

                .bottom-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0.107rem;

                    .bottom-top-left {
                        display: flex;
                        align-items: center;
                        font-family: MicrosoftYaHei;
                        font-size: 0.32rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.871rem;
                        letter-spacing: 0.007rem;
                        color: #32bc59;

                        .title {
                            height: 0.373rem;
                            font-family: MicrosoftYaHei;
                            font-size: 0.373rem;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 0.373rem;
                            letter-spacing: 0.008rem;
                            color: #333333;
                            margin-right: 0.4rem;
                        }

                        img {
                            width: 0.24rem;
                            height: 0.32rem;
                        }
                    }

                    .bottom-top-right {
                        display: flex;
                        align-items: center;
                        font-family: MicrosoftYaHei;
                        font-size: 0.32rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.871rem;
                        letter-spacing: 0.007rem;
                        color: #333333;

                        img {
                            width: 0.48rem;
                            height: 0.48rem;
                            border-radius: 50%;
                            margin-right: 0.16rem;
                        }
                    }
                }

                .bottom-bototm {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .date {
                        height: 0.32rem;
                        font-family: MicrosoftYaHei;
                        font-size: 0.32rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.32rem;
                        letter-spacing: 0.007rem;
                        color: #999999;
                    }

                    .like {
                        display: flex;
                        align-items: center;
                        font-family: MicrosoftYaHei;
                        font-size: 0.32rem;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 0.28rem;
                        letter-spacing: 0.007rem;
                        color: #ff620e;

                        img {
                            width: 0.32rem;
                            height: 0.28rem;
                        }
                    }
                }

            }


        }
    }

    .addbtn {
        width: 4.667rem;
        height: 1.2rem;
        background: #08c75e;
        box-shadow: 0rem 0.08rem 0.133rem 0rem rgba(0, 134, 41, 0.26);
        border-radius: 0.6rem;
        position: fixed;
        left: 2.627rem;
        bottom: 0.96rem;
        font-family: MicrosoftYaHei;
        font-size: 0.373rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1.2rem;
        letter-spacing: 0.008rem;
        color: #ffffff;
        text-align: center;
    }
}
